@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
    font-family: Helvetica, Arial, Sans-serif
}

img {
	width: 100%;
    display: block;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000029
}

a {
    color:#CCFFFF;
    width: auto;
    margin:.5rem 0 ;
    padding: 1rem .7rem;
    background-color: #003366
}

p {
    color: #C2E0FF;
    margin: 1.2rem
}

.masshead {
    background-color: black;
}

.logo {height: 4.5rem;
        width: auto;
        margin: 0.5rem 5%;
        display:block;
        margin: .5rem auto
}

h1 {
    color: #99FFFF;
    margin: 1.2rem;
    background-color: #003399
}

.firstpara {
    margin: 1.5rem;
    color:#C2E0FF;
    font-family: Times, serif;
    font-size: 1.05rem
}

h2 {
    margin: 1.5rem;
    color: #99FFFF;
    font-family: Times, serif;
    background-color:#003366;
}

ul {
    color: #C2E0FF
}

ul img {
    margin: 0.2rem 1rem .5rem -2rem;
    height:4rem;
    width:auto;
    float: left;
}

ul {
    margin: 1rem;
    font-size: 0.85rem;
    color: #C2E0FF;
    list-style: none;
    float: right
}







