@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
    font-family: Helvetica, Arial, Sans-serif
}

img {
	width: 100%;
    display: block;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000029
}

hr {
    color: #FFF;
}

a {
    color:#CCFFFF;
    margin: .5rem .2rem;
    padding: 1rem .5rem;
    background-color: #003366; 
}

p {
    color: #C2E0FF;
    margin: 1.2rem
}

.masshead {
    background-color: black;
}

.logo {height: 4.5rem;
        width: auto;
        margin: 0.5rem 5%;
        display:block;
        margin: .5rem auto
}

h1 {
    color: #FFF;
    margin: 1rem 5%;
    font-size: 3rem;
    font-family: Times;
    font-weight: 400;
}

h1 img {
    margin: 1rem 0;
    height:2rem;
    width:auto;
    display:inline;
    float:left
}

.firstpara {
    margin: 1.5rem;
    color:#C2E0FF;
    font-family: Times, serif;
    font-size: 1.05rem
}

h2 {
    margin: 1.5rem 6rem;
    color: #FFF;
    font-family: helvetica, sans-serif;
    background-color:#003366;
    padding:.2rem 10%;
    font-weight: 400
}

ul li {
    margin: .5rem 3rem;
    font-size: .85rem;
    color: #C2E0FF;
    list-style:none;
}

li img {
    margin: .5rem;
    height: 4rem;
    width: auto;
    float:left
}

ul hr {
    width: 15rem;
    color: #FFF
}

details {
    color: #FFF;
    margin: 1.5rem 6rem;
    list-style-image:url(../images/snowflake.png)
}

.img {
    margin: 1rem -.5rem;
    height: 13rem;
    width: auto
}

.snowflak {
    height: 1rem;
    width: auto;
    display:inline;
    margin:.5rem 0 0 5rem
}

.snerflak {
    height: 1.5rem;
    width:auto;
    display:block;
    margin: .1rem 11rem
}

blockquote {
    margin: -1rem;
    padding: 1rem 2rem 1rem 15%;
}

blockquote p {
    color: #fff;
    font-size: .85rem;
}

blockquote span {
    font-weight: bold;
    float:right;
    margin: .5rem 1rem;
    font-size: .75rem
}

blockquote p:before {
    content:"“";
    font-size:2.5rem;
    float:left;
    margin: -0.5rem .5rem 0 -.5rem;
    color: #C2E0FF
}

blockquote p:after {
    content: "”";
    font-size:2.5rem;
    position:absolute;
    margin: -.5rem .5rem;
    color: #C2E0FF
}

ol li:first-child {
    color: #fff;
    list-style:none;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 3rem
}
ol li {
    color: #C2E0FF;
    list-style-image:url(../images/smaller.png);
    font-size: .9rem;
    margin: .5rem 5rem
}

li a {
    color:#CCFFFF;
    background-color: #000029; 
}

footer {
    background-color: black;
    overflow:hidden;
    font-size: .75rem
}

footer img {
    height: 2.5rem;
    width: auto;
    float: right;
    margin: 0 1rem 0 2rem
}

footer a {
    background-color: black;
    font-size: .75rem
}
    








